<div class="slider">
  
    <ul>
      
      <li>
        <div class="title"><a href="#">Sports Photos</a></div>
        <img src="https://images.pexels.com/photos/6894435/pexels-photo-6894435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" /> 
      </li>
       <li>
        <div class="title"><a href="#">Food Photos</a></div>
         <img src="https://images.pexels.com/photos/1638459/pexels-photo-1638459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" /> 
      </li>
       <li>
         <div class="title"><a href="#">Fashion Frame</a></div>
         <img src="https://images.pexels.com/photos/21014/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />      
        
      </li>
       <li>
        <div class="title"><a href="#">Animal Pictures</a></div>
         <img src="https://images.pexels.com/photos/88630/pexels-photo-88630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" /> 
      </li>
      
      
    </ul>
    
    
  </div>